/* Allgemeines Layout */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}

.container {
  background-color: #581CFF;
  border-radius: 1em;
}

.ueberTitel {}

.navBar {
  display: flex;
  gap: 1em;
}